[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
flask-migrate = "*"
flask-script = "*"
marshmallow = "*"
flask-bcrypt = "*"
pyjwt = "*"
python-dotenv = "*"
requests = "*"
pytest = "*"

[dev-packages]
yapf = "*"
pylint = "*"
pylint-flask-sqlalchemy = "*"

[requires]
python_version = "3.9"
